<form method="POST" action="/prehistoric_creatures">
    <label for="creatureType">Type:</label>
    <input type="text" id="creatureType" name="type"/>

    <label for="creatureUrl">URL:</label>
    <input type="text" id="creatureUrl" name="img_url"/>

    <button type="submit">Add a Creature!</button>
</form>